*{
    margin: 0;
}
header{
    height: 64px;
    width: 100%;
    background: #FA8C16;
    margin-bottom: 30px;
}
.container{
    margin-left: 125px;
    margin-right: 120px;
}
.title-logo{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.meny{
    display: flex;
    list-style: none;
    margin-left: 58px;
}
.meny-link{
    font-size: 14px;
    line-height: 22px;
    margin-right: 15px;
}
.meny-link:last-child{
    margin-right: 0;
}
.meny-link>a{
    text-decoration: none;
    color: #FAFAFA;
}
.meny-link>a:hover{
    text-decoration: underline;
    color: #28f100;
    transition: all 0.3s;
}
.header{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.input-search{
    width: 236px;
    height: 32px;
    margin-top: -4px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    border: none;
    border-radius: 2px;
}
.input-search::placeholder{
    color: #BFBFBF;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    /* font-size: 14px;
    line-height: 22px;
    margin-left: 12px; */
}
#post{
    width: 800px;
    height: 578px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.title-post{
    margin: 35px 36px 19px 36px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}
.text-post{
    margin: 0px 36px 20px 36px;
    max-width: 728px;
    height: 380px;

}
.text-post p{
    
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}
.tags-post{
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
    
}
.tags-post li {
    margin-right: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
}
.footer-post{
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 66px;
}
.footer-post-active-buttons{
    display: flex;
    width: 233px;
    margin-top: 21px;
    margin-left: 21px;
}
.activities-btn{
    margin-right: 29px;
    width: 52px;
    height: 24px;
    color: #8C8C8C;
    font-size: 13px;
line-height: 22px;
}
.footer-post-autor{
    display: flex;
    margin-top: 13px;
    margin-right: 36px;
}
.autor-information{
    margin-right: 9px;
}
.autor-information p{
    font-size: 12px;
    line-height: 20px;
    color: #BFBFBF;
}
.logo-autor{
    height: 34px;
}